
<html>
    <head>
        <title>Lab 4</title>
        <meta charset="UTF-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://apis.google.com/js/platform.js" async defer></script>
        
        
        <script src="angular/angular.min.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css">
        <script src="controller.js"></script>
        
        <meta name="google-signin-client_id" content="353772007256-iia2pjvhn5e6dvd436kkpjp06qbm6g3t.apps.googleusercontent.com">
        
    </head>
    
    <body ng-app="myApp" ng-controller="dbCont">
        
    <div id="content">
        
        <div id="header">
            <h1>Welcome to my <i><u>Groovy</u></i> Posting Application</h1>
        </div>
        
        <div id="google-sign-in">
            <h2>Sign in with google to make a post</h2>
            <div class="g-signin2" data-onsuccess="onSignIn"></div>
            <br>
        </div>
        
            
            
        <div id="make-post">
            <h2>Hey {{currentUser}}! </h2>
            <h3>Tell everyone whats up!</h3>
            <form ng-submit = "sendPost()">
                <textarea ng-model="newPost"/></textarea>
                <br>
                <button type="submit">Tell The World!</button>
            </form>
        
        </div>
        
        <div id="all-posts">
        
            <h2>This is what the Homies are sayin'</h2>
        
            <br>

            <div ng-repeat="post in posts | reverse" ng-model="total">
               
                <div class="single-post">
                    <table>
                        <tr class="post-details">
                            <td class="post-author">
                                {{post.author}}
                            </td>
                            <td class="post-likes">
                                 <p>{{post.likes}} Likes</p>
                            </td>
                             <td class="like-button">
                                 <div ><form ng-submit = "likePost(post._id, post.likes)"><button type="submit">Like This</button></form>
                            </td>
                        </tr>
                    </table>
                    
                
                                <div class="post-content">{{post.content}}</div>
        
                </div>
                <br>
            </div>
        </div>
    
        
    </div>
    
  </body>
</html>