body{
    font-family:Sans-Serif;
}
form{
    margin-bottom:0px !important;
}
@font-face {
    font-family: smoothie-shoppe;
    src: url(SmoothieShoppe.ttf);
}

h1{
    font-family:smoothie-shoppe;
    font-size:44px;
}

h2,h3{
    color:#338eb1;
    text-shadow:3px 1px 0px rgba(28,55,156,0.4);
}
#content{
    width:1000px;
    margin:0px auto;
    border:3px solid black;
}

#header h1{
    padding:100px 0px;
    margin:0px !important;
}


#google-sign-in a,
#google-sign-in h2{
    text-align:center;
}

#make-post,
#all-posts,
#google-sign-in{
    padding: 20px;
}

#make-post button{
    border-radius:3px;
    padding:10px 15px;
    margin-top:10px;
    font-size:20px;
    
    font-family:smoothie-shoppe;
    background-color:#8FCFE8;
    border: 2px solid #338eb1;
    
}
#make-post button:hover{
    color:white !important;
    background-color:#338eb1 !important;
}

.abcRioButtonIcon{
    display:none;
}
.abcRioButton{
    height:50px !important;
    width:150px !important;
    margin:0px auto !important;
    box-shadow:none !important;
}
.abcRioButton span{
    font-size:18px !important; 
    line-height:50px !important;
}
.single-post .like-button button,
.abcRioButtonContentWrapper{
    color:white !important;
    font-family: Sans-Serif;
    text-align:center;
    border-radius:3px;
    outline:none !important;
    box-shadow:none !important;
    text-decoration:none !Important;
    background-color:#3a86f5;
    font-weight:bold;
}
.abcRioButtonContentWrapper:hover{
    background-color:#2358a6;
}
.post-content{
    width:calc(100% - 22px);
    padding:10px;
    border:1px solid black;
}
.single-post table{
    border:1px solid black;
    border-bottom:0px !important;
    width:100%;
}
.single-post table td:first-child{
    border-left:0px !important;
}
.single-post table td{
    border-left:1px solid black;
    text-align:center;
}
.single-post .post-author{

    text-align:center;
    font-family:smoothie-shoppe;
    font-size:24px;
}


#make-post textarea{
    width:calc(100%);
    height:100px;
    color:#338eb1;
    padding:5px 10px;
    font-size:18px;
    border: 2px solid #338eb1;
    border-radius:3px;
    outline:none !important;
}



#header{
    border-bottom:2px solid #8FCFE8;
    width:100%;
    text-align:center;
    background: 
    	linear-gradient(135deg, #8FCFE8 25%, transparent 25%),
    	linear-gradient(225deg, #8FCFE8 25%, transparent 25%),
    	linear-gradient(315deg, #8FCFE8 25%, transparent 25%),
    	linear-gradient(45deg, #8FCFE8 25%, transparent 25%);	
	background-size: 100px 100px;
	background-color: #ffffff;
	
	-webkit-animation: backgroundAnimate 2s linear infinite;
}
/* The Animation, switch the -100px to +100px to reverse */
@-webkit-keyframes backgroundAnimate{
  from{
    background-position: 50px 0, 50px 0, 0 0, 0 0;
  }
  to{
    background-position: 50px -100px, 50px -100px, 0 -100px, 0 -100px;    
  }
}




